/* !Impors */
@import './fonts.css';

/* !Css Variables */
:root{
    --mainBackgroundColor: linear-gradient(89.7deg, #00FCE3 0.23%, #00D6FA 99.74%);
    --mainColor:#00FCE3;
    --white:#fff
}

.container{
    max-width: 1400px;
    margin: 0 auto;
}

/*! ////////////////////////////// */
    /*! Header Section Styles */
/*! ////////////////////////////// */
.header{
    background-image: url('../images/landing-background.png');
    /* z-index: -4; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 55rem;
    width: 100%;
}

.navbar__menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-top: 1rem; */
}

.navbar__logo{
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.navbar__logo-text{
    font-family: 'sarabun-bold', Courier, monospace;
    color: var(--mainColor);
    font-size: 2rem;
}

.navbar__logo,
.navbar__list,
.navbar__btn{
    margin-top: 2rem;
}

.navbar__list{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar__list-item{
    margin-right: 1rem;
    margin-left: 1rem;
}

.navbar__list-link{
    font-family: 'sarabun-medium', Courier, monospace;
    color:#B9B9B9;
}

.navbar__list-link-active{
    color: var(--white);
}

.navbar__btn-link{
    color:  #0F0B10;
    padding: 1rem 2.8rem;
    border-radius: 2rem;
    background-color:var(--mainColor);
    font-family: 'sarabun-medium', Courier, monospace;
}

.res-menu{
    display: none;
    cursor: pointer;
    margin-top: 2rem;
    transition: all 400ms ease-in;
}
.register-btn{
    display: none;
}

/*^ //////// Landing Section Styles//////// */

.landing{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
}

.landing__title{
    color: var(--white);
    margin-top: 4rem;
    font-family: 'sarabun-bold', Courier, monospace;
    font-size: 4rem;
    line-height: 4.4rem;
}

.landing__text{
    font-family: 'sarabun-medium', Courier, monospace;
    color: var(--white);
    line-height: 1.4rem;
    margin-top: 1.4rem;
}

.landing__btns{
    margin-top: 2rem;
    display: flex;
    align-items: center;
}

.landing__btn{
    background-color: var(--mainColor);
    padding: 1rem 2.8rem;
    border-radius: 2rem;
    font-family: 'sarabun-medium', Courier, monospace;
    color: #0F0B10;
}

.landing__play-btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding: 0.8rem 2.8rem;
    color: var(--white);
    border-radius: 2rem;
    margin-left: 1rem;
    border: 1px solid var(--white);
}

.landing__play-icon{
    font-size: 2rem;
    margin-right: 0.5rem;
}

.landing__right{
    width: 50%;
    
}
.landing__left{
    width: 50%;
}

.landing__right-image{
   width: 50%;
   display: block;
   margin: 0 auto;
}

/*^ //////// Date Section Styles//////// */
.date{
    background-color:  #060F1BCC;
    z-index: 200;
    padding-top: 2rem;
    padding-bottom: 4rem;
    margin-bottom: 4rem;
    height: 4rem;

}
.date__wrapper{
    display: flex;
    justify-content: space-between;
}

.date__title{
    font-family: 'sarabun-medium', Courier, monospace;
    color: var(--mainColor);
}

.date__subtitle{
    font-family: 'sarabun-bold', Courier, monospace;
    color: var(--white);
    font-size: 2rem;
}

.date__right{
    display: flex;
    justify-content: space-around;
    /* margin-right: 28rem; */
}

.date__timer{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* line-height: 5rem; */
    border: 1px solid #284D7B;
    border-radius: 1.2rem;
    width: 5rem;
    height: 5rem;
    z-index: 10;
    margin-right: 2rem;
    margin-left: 2rem;
}

.date__timer-num{
    color: var(--mainColor);
    font-family: 'sarabun-bold', Courier, monospace;
    font-weight: bold;
    font-size: 2rem;
}

.date__timer-text{
    color:#D0D0D0;
    margin-top: 1rem;
    font-family: 'sarabun-medium', Courier, monospace;
}

/*! ////////////////////////////// */
    /*! Main Section Styles */
/*! ////////////////////////////// */

/*^ //////// Join Tech Section Styles//////// */

.join-tech{
    padding-top: 8rem;
    padding-bottom: 8rem;
    border: 1px solid;
    background: linear-gradient(180deg, #232525 0%, #111617 100%);
}
.join-tech__wrapper{
    display: flex;
    justify-content: space-around;
}

.join-tech__title{
    font-family: 'sarabun-bold', Courier, monospace;
    color: var(--white);
    font-size: 2rem;
}

.join-tech__text{
    color: #A5A6A7;
    margin-top: 1rem;
}

.join-tech__box{
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
}

.join-tech__box-left-title,.join-tech__box-right-title{
    color: var(--white);
    font-family: 'sarabun-bold', Courier, monospace;
}

.join-tech__box-left-text,.join-tech__box-right-text{
    margin-top: 1rem;
    color:#A5A6A7;
    margin-right: 1rem;
}

.join-tech__btn{
    background-color: var(--mainColor);
    padding: 1rem 2rem;
    border-radius: 2rem;
    font-family: 'sarabun-medium', Courier, monospace;
    color: #0F0B10;
    margin-top: 2rem;
    display: block;
    text-align: center;
}

/*^ //////// Speakers Section Styles//////// */
.speakers{
    padding-top: 4rem;
   padding-bottom: 8rem;
    background: linear-gradient(180deg, #232525 0%, #111617 100%);

}

.speakers__wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.speakers__wrapper-title{
    font-family: 'sarabun-bold', Courier, monospace;
    color: var(--white);
    font-size: 2rem;
}

.speakers__wrapper-text{
    color: #A5A6A7;
    margin-top: 1rem;
}

.speakers__wrapper-right{
    display: flex;
}

.speakers__wrapper-image1{
    width: 19rem;
    height: 25rem;
    background-repeat: no-repeat;
    background-image: url('../images/speaker-1.png');
    cursor: pointer;
    opacity: 0.8;
    border-radius: 2rem;
    margin-right: 1rem;

}

.speakers__wrapper-image1:hover{
    opacity: 1;
}
.speakers__wrapper-image2{
    width: 19rem;
    height: 25rem;
    background-repeat: no-repeat;
    background-image: url('../images/speaker-2.png');
    opacity: 0.8;
    cursor: pointer;
    border-radius: 2rem;
}

.speakers__wrapper-image2:hover{
    opacity: 1;
}

.speaker__name{
    text-align: center;
    margin-top: 16rem;
    color: var(--white);
    font-family: 'sarabun-regular', Courier, monospace;
    visibility: hidden;
}

.speaker__job{
    text-align: center;
    color: #FAFAFA;
    margin-top: 1rem;
    font-weight: bold;
    visibility: hidden;
}

.speaker__link{
    background-color: var(--mainColor);
    padding: 0.8rem 1.4rem;
    border-radius: 2rem;
    font-family: 'sarabun-medium', Courier, monospace;
    color: #0F0B10;
    display: block;
    width: 8rem;
    text-align: center;
    margin: 0 auto;
    margin-top: 1rem;
    visibility: hidden;

}

.speakers__wrapper-image1:hover .speaker__name{
    visibility: visible;
}
.speakers__wrapper-image1:hover .speaker__job{
    visibility: visible;
}
.speakers__wrapper-image1:hover .speaker__link{
    visibility: visible;
}
.speakers__wrapper-image2:hover .speaker__name{
    visibility: visible;
}
.speakers__wrapper-image2:hover .speaker__job{
    visibility: visible;
}
.speakers__wrapper-image2:hover .speaker__link{
    visibility: visible;
}

/*^ //////// Event Detail  Section Styles//////// */
.event-detail{
    background: linear-gradient(180deg, #232525 0%, #111617 100%);
}
.event-detail__wrapper{
    /* margin-bottom: 10rem; */
    padding-bottom: 4rem;
    display: flex;
    justify-content: space-between;
    
}

.event-detail__left{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.event-detail__title{
    font-family: 'sarabun-bold', Courier, monospace;
    color: var(--white);
    font-size: 2rem;
    margin-top: 1rem;
}

.event-detail__text{
    font-family: 'sarabun-regular', Courier, monospace;
    color:#A5A6A7;
    margin-top: 1rem;

}  

.event-detail__btn{
    text-align: center;
    padding: 1rem 2rem;
    border-radius: 2rem;
    color: var(--mainColor);
    border: 1px solid  #333333;
    margin-top: 2rem;
}

.event-detail__img{
    margin-top: 4rem;
}


.event-detail__right{
    display: flex;
    flex-direction: column;
}

.event-detail__diary{
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;
    margin-top: 2rem;
    border-radius: 4rem;
    background-color:  #24292A;
}

.event-detail__diary-day1,.event-detail__diary-day2,.event-detail__diary-day3{
    margin-right: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.diary-day1-title,.diary-day2-title,.diary-day3-title{
    color: var(--white);
    font-family: 'sarabun-bold', Courier, monospace;

}

.diary-day1-text,.diary-day2-text,.diary-day3-text{
    color:#A5A6A7;
    margin-top: 1rem;
    font-family: 'sarabun-regular', Courier, monospace;

}

.event-detail__diary-day1{
    background: linear-gradient(89.7deg, #00FCE3 0.23%, #00D6FA 99.74%);
    border-radius: 4rem;
}

.diary-active{
    color: #0F0B10;
}


.event-detail__contents{
    display: flex;
    justify-content: space-between;
}

.event-detail__contents-col1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}



.event-detail__contents-col2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.event-detail__contents-col2-shape{
    width: 2rem;
    height: 2rem;
    background-color: var(--mainColor);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
}

.event-detail__contents-col3-info{
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
}

.event-detail__contents-col2{
    margin-left: 2rem;
}

.event-detail__contents-col1{
    display: flex;
    flex-direction: column;
}

.event-detail__contents-col1-box-text{
    color: var(--white);
    font-family: 'sarabun-light', Courier, monospace;
    /* margin-bottom: 2rem; */
}

.event-detail__contents-col1-box-shape{
    width: 2rem;
    height: 2rem;
    background-color: var(--mainColor);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    margin-left: 1rem;
    position: relative;
    font-family: 'sarabun-bold', Courier, monospace;
    color:#0F0B10;
}

.event-detail__contents-col1-box-shape::after{
    content: '';
    width: 0.1rem;
    height: 4rem;
    background-color:#054A56;
    position: absolute;
    top: 2rem;
}

.event-detail__contents-col1-box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4rem;
}

.event-detail__contents-col3-info{
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.event-detail__contents-col3-info-title{
    color: var(--white);
    margin-bottom: 1rem;
    font-family: 'sarabun-bold', Courier, monospace;

}

.event-detail__contents-col3-info-text{
    color: #A5A6A7;
    font-family: 'sarabun-light', Courier, monospace;

}

.event-detail__diary-day1,.event-detail__diary-day2,.event-detail__diary-day3{
    cursor: pointer;
}

/*^ //////// Tickets Section Styles//////// */
.tickets{
    background: linear-gradient(180deg, #232525 0%, #111617 100%);
}

.tickets__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tickets__title{
    font-family: 'sarabun-bold', Courier, monospace;
    color: var(--white);
    font-size: 2rem;
    margin-top: 1rem;
    text-align: center;
}

.tickets__text{
    font-family: 'sarabun-regular', Courier, monospace;
    color:#A5A6A7;
    margin-top: 1rem;
}

.tickets__cards{
    display: flex;
    justify-content: space-around;
}

.tickets__card{
    width: 20rem;
    height: 28rem;
    background-color: #1B1F20;
    margin-right: 2rem;
    display: flex;
    flex-direction: column;
    border-radius: 1.4rem;
    margin-top: 4rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    margin-bottom: 8rem;
    cursor: pointer;
}

.tickets__card:hover{
    transform: scale(1.1);
    background-color: #292D2E;
    transition: all 400ms ease-in-out;
}

.tickets__card:hover .card__title{
    background-color: var(--white);
    color:#0F0B10;
    transition: all 400ms ease-in-out;
}

.tickets__card:hover .ticket__btn{
    background-color: var(--mainColor);
    color:#0F0B10;
    transition: all 400ms ease-in-out;
}

.card__title{
    color: var(--white);
    font-family: 'sarabun-regular', Courier, monospace;
    text-align: center;
    background-color:  #333333;
    width: 4rem;
    margin: 1rem auto;
    padding: 0.6rem 1.4rem;
    border-radius: 2rem;
}

.card__price{
    color: var(--white);
    text-align: center;
    font-size: 1.4rem;
    font-family: 'sarabun-regular', Courier, monospace;
}

.card__descriptions{
    margin-left: 1.2rem;
    margin-top: 2rem;
}

.card__desc{
    margin-bottom: 1rem;
    font-size: 1.1rem;
    font-family: 'sarabun-light', Courier, monospace;
    color: #A5A6A7;
}

.ticket__btn{
    background-color:  #2D3132;
    text-align: center;
    width: 14rem;
    display: block;
    margin: 4rem auto;
    padding: 1rem;
    border-radius: 2rem;
    color: var(--white);
    font-family: 'sarabun-medium', Courier, monospace;
}

.card__desc-svg{
    margin-right: 0.4rem;
}

/*^ //////// Participant Section Styles//////// */
.participant{
    background: linear-gradient(180deg, #232525 0%, #111617 100%);
    margin-bottom: 4rem;
}
.participant__wrapper{
    display: flex;
    flex-direction: column;

}

.participant__content{
    margin: 0rem auto;
    padding-bottom: 4rem;
}

.participant__title{
    text-align: center;
    font-family: 'sarabun-bold', Courier, monospace;
    color: var(--white);
    font-size: 2rem;
    margin-top: 2rem;
    text-align: center;
}

.participant__text{
    font-family: 'sarabun-regular', Courier, monospace;
    color:#A5A6A7;
    margin-top: 1rem;
    text-align: center;
    margin-bottom: 4rem;

}

.participant__content{
    margin-top: 4rem;
    margin-bottom: 4rem;
    display: flex;
    align-items: center;
}

.participant__content-right-text{
    font-family: 'sarabun-regular', Courier, monospace;
    color:#A5A6A7;
    margin-top: 1rem;
    text-align: center;
    position: relative;
    margin-left: 6rem;
    text-align: justify;
    line-height: 2rem;
}

.participant__content-right-comma{
    position: absolute;
    left: -4rem;
}

.participant__content-right-name{
    color: var(--white);
    font-family: 'sarabun-bold', Courier, monospace;
    margin-left: 6rem;
    margin-top: 2rem;
    display: block;
}

.participant__content-right-job{
    color:  #C7C7C7;
    margin-left: 6rem;
    margin-top: 1rem;
    display: block;
}

.participant__content-right-btns{
    display: flex;
    margin-left: 6rem;
    margin-top: 4rem;
}

.participant__content-right-btn{
    border: 1px solid #424242;
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
    border-radius: 2rem;
}
.participant__content-right-btn-svg{
    color: red;
}

.participant__content-right-btn:nth-child(2){
    background-color: var(--mainColor);
}