
@media screen and (max-width: 1400px) {
    .landing__title,.landing__text,.landing__btns,.date__subtitle,.date__title{
        margin-left: 1rem;
    }
}

@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 992px) {
    .landing__title{
        font-size: 2rem;
    }
}

@media screen and (max-width: 940px) {
    .header{
        height: 74rem;
    }
    .landing{
        flex-direction: column-reverse;
    }

    .landing__btns{
        flex-direction: column;
    }

    .landing__title,.landing__text{
        text-align: center;
    }
    .landing__btn{
        margin-bottom: 1rem;
    }
    .date{
        margin-top: 2rem;
    }
    .date__subtitle{
        font-size: 1.8rem;
    }
    .date__right{
        flex-wrap: wrap;
    }
    .date__timer{
        margin-bottom: 1rem;
    }

    /* .join-tech__box{
        flex-direction: column;
    }
    .join-tech__box-left{
        margin-bottom: 2rem;
    } */
    .join-tech__wrapper{
        flex-direction: column;
    }
    .join-tech__wrapper-left-img{
        display: block;
        margin: 0 auto;
    }
    .join-tech__title{
        margin-top: 1rem;
    }
    .join-tech__title,.join-tech__text{
        text-align: center;
    }
    .join-tech__btn{
        margin-right: 2rem;
        margin-left: 2rem;
    }



}

@media screen and (max-width: 768px) {
    .navbar__menu{
        position: relative;
    }
    .navbar__list{
        /* display: none; */
        flex-direction: column;
        background-color: rgb(95, 181, 174);
        padding: 4rem;
        position: absolute;
        top: -2rem;
        height: 100rem;
        z-index: 20;
        display: none;
    }
    .navbar__list-item{
        margin-bottom: 1rem;
    }
    .navbar__btn{
        margin-right: 2rem;
        display: none;
    }
    .res-menu{
        display: block;
        margin-right: 2rem;
    }
    .register-btn{
        display: block;
    }
    .navbar__logo{
        margin-left: 1rem;
    }


    
}

@media screen and (max-width: 635px) { 

}

@media screen and (max-width: 617px) { 

}

@media screen and (max-width: 576px) { 
    .landing__play-btn{
        flex-direction: column;
        width: 10rem;
        
    }
}
@media screen and (max-width: 521px) { 
    .join-tech__wrapper-left-img{
        width: 20rem;
    }
    .join-tech__box{
        flex-wrap: wrap;
    }
    .join-tech__box-left-title,.join-tech__box-left-text,
    .join-tech__box-right-title,.join-tech__box-right-text{
        text-align: center;
    }
    .join-tech__box-left{
        margin-bottom: 1rem;
    }
    .join-tech__text{
        margin-right: 1rem;
        margin-left: 1rem;
    }
}

@media screen and (max-width: 460px) { 
    .header{
        height: 94rem;
    }
}

@media screen and (max-width: 350px) {
    .join-tech__wrapper-left-img{
        width: 14rem;
    }
    
}


@media screen and (max-width: 280px) {
    .join-tech__wrapper-left-img{
        width: 10rem;
    }
}