
@media screen and (max-width: 1400px) {
    .landing__title,.landing__text,.landing__btns,.date__subtitle,.date__title{
        margin-left: 1rem;
    }

    .event-detail__left{
        margin-left: 2rem;
    }
    .event-detail__right{
        margin-right: 2rem;
    }

    .upper-footer__wrapper,.sub-footer__wrapper{
        margin-right: 2rem;
        margin-left: 2rem;
    }
}

@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 1074px) {
    .tickets__cards{
        flex-wrap: wrap;
    }
    .tickets__card:nth-child(3){
        margin-top: -4rem;
    }
}

@media screen and (max-width: 1050px) {
    .event-detail__wrapper{
        flex-direction: column;
    }
    .event-detail__title{
        text-align: center;
        font-size: 2.8rem;
    }
    .event-detail__text{
        text-align: center;
        font-size: 1.8rem;
    }
    .event-detail__img{
        /* width: 100%; */
        display: block;
        margin: 0 auto; 
    }
    .event-detail__btn{
        font-size: 1.4rem;
        margin: 2rem auto;
        width: 20rem;
        
    }

    .event-detail__diary{
        margin-left: 1rem;
    }
    .event-detail__contents-col1{
        margin-left: 2rem;
    }
}

@media screen and (max-width: 992px) {
    .landing__title{
        font-size: 2rem;
    }
    .speakers__wrapper{
        flex-direction: column;
    }
    .speakers__wrapper-left{
        margin-bottom: 2rem;
    }
    .speakers__wrapper-right{
        flex-direction: column;
    }
    .speakers__wrapper-image1{
        margin-bottom: 1rem;
    }
    .speakers__wrapper-title,.speakers__wrapper-text{
        text-align: center;
    }
}

@media screen and (max-width: 940px) {
    .header{
        height: 74rem;
    }
    .landing{
        flex-direction: column-reverse;
    }

    .landing__btns{
        flex-direction: column;
    }

    .landing__title,.landing__text{
        text-align: center;
    }
    .landing__btn{
        margin-bottom: 1rem;
    }
    .date{
        margin-top: 2rem;
    }
    .date__subtitle{
        font-size: 1.8rem;
    }
    .date__right{
        flex-wrap: wrap;
    }
    .date__timer{
        margin-bottom: 1rem;
    }

    /* .join-tech__box{
        flex-direction: column;
    }
    .join-tech__box-left{
        margin-bottom: 2rem;
    } */
    .join-tech__wrapper{
        flex-direction: column;
    }
    .join-tech__wrapper-left-img{
        display: block;
        margin: 0 auto;
    }
    .join-tech__title{
        margin-top: 1rem;
    }
    .join-tech__title,.join-tech__text{
        text-align: center;
    }
    .join-tech__btn{
        margin-right: 2rem;
        margin-left: 2rem;
    }

}

@media screen and (max-width: 840px) {
    .participant__content{
        flex-direction: column;
    }
    .participant__content-left-img{
        margin-bottom: 2rem;
    }
    .participant__content-right-comma{
        top: -2rem;
        left: 6rem;
    }
    .participant__content-right-text{
        margin-right: 6rem;
    }
    .participant__content-right-comma{
        display: block;
        margin: 0 auto;
    }
    .participant__content-right-btns{
        margin-left: 11rem;
    }
    .participant__text{
        margin-bottom: 0;
    }
}

@media screen and (max-width: 768px) {
    .navbar__menu{
        position: relative;
    }
    .navbar__list{
        /* display: none; */
        flex-direction: column;
        background-color: rgb(95, 181, 174);
        padding: 4rem;
        position: absolute;
        top: -2rem;
        height: 100rem;
        z-index: 20;
        display: none;
    }
    .navbar__list-item{
        margin-bottom: 1rem;
    }
    .navbar__btn{
        margin-right: 2rem;
        display: none;
    }
    .res-menu{
        display: block;
        margin-right: 2rem;
    }
    .register-btn{
        display: block;
    }
    .navbar__logo{
        margin-left: 1rem;
    }

    .upper-footer__wrapper{
        flex-direction: column;
    }
    .upper-footer-col1,.upper-footer-col2,.upper-footer-col3,.upper-footer-col4{
        display: block;
        margin: 0 auto;
        margin-bottom: 2rem;
        text-align: center;
    }


    
}

@media screen and (max-width: 745px) { 
    .event-detail__contents{
        flex-direction: column;
    }
    .event-detail__contents-col1{
        transform: rotate(90deg);
        margin-top: -4rem;
    }
    .event-detail__contents-col3-info-title{
        text-align: center;
    }
    .event-detail__contents-col3-info-text{
        text-align: center;
    }
    .event-detail__contents-col1{
        margin-right: 2rem;
    }
    .event-detail__contents-col1-box-shape::after{
        /* height: 2rem; */
    }
    .event-detail__diary{
        flex-direction: column;
        margin-left: 2rem;
    }
    .event-detail__btn{
        width: 12rem;
    }
    .event-detail__text{
        margin-right: 2rem;
    }

    .tickets__card:nth-child(2){
        margin-top: -4rem;
    }
}

@media screen and (max-width: 635px) { 

}

@media screen and (max-width: 617px) { 

}

@media screen and (max-width: 576px) { 
    .landing__play-btn{
        flex-direction: column;
        width: 10rem;
    }


    .sub-footer__wrapper{
        flex-direction: column;
    }
    .sub-footer__logo,.sub-footer__text,.sub-footer__icons{
        display: block;
        margin: 0 auto;
        margin-bottom: 2rem;
    }
}
@media screen and (max-width: 521px) { 
    .join-tech__wrapper-left-img{
        width: 20rem;
    }
    .join-tech__box{
        flex-wrap: wrap;
    }
    .join-tech__box-left-title,.join-tech__box-left-text,
    .join-tech__box-right-title,.join-tech__box-right-text{
        text-align: center;
    }
    .join-tech__box-left{
        margin-bottom: 1rem;
    }
    .join-tech__text{
        margin-right: 1rem;
        margin-left: 1rem;
    }
}

@media screen and (max-width: 460px) { 
    .header{
        height: 94rem;
    }

    .tickets__cards{
        /* margin-left: 2rem; */
    }
    .participant__content-right-btns{
        margin-left: 8rem;
    }
    .participant__text{
        margin-left: 2rem;
        margin-right: 2rem;
    }
}

@media screen and (max-width: 370px) {
    .event-detail__contents-col1{
        transform: rotate(0deg);
        margin-top: 1rem;
    }
    .event-detail__contents-col3{
        margin-top: 1rem;
    }

    .tickets__cards{
        width: 18rem;
    }
    .ticket__btn{
        width: 12rem;
    }

    .upper-footer-col1-input1{
        padding: 1rem 2rem;
    }
    .upper-footer-col1-link{
        left: 12.8rem;
    }
}
@media screen and (max-width: 350px) {
    .join-tech__wrapper-left-img{
        width: 14rem;
    }
    .landing__title{
        font-size: 1.5rem;
    }
    .speakers__wrapper-image1,.speakers__wrapper-image2{
        width: 17rem;
    }
    .event-detail__img{
        margin-right: 2rem;
        width: 12rem;
    }
    .event-detail__btn{
        width: 8rem;
    }
    .landing__play-btn{
        width: 8rem;
    }
    .speakers__wrapper-image1,.speakers__wrapper-image2{
        background-position: center;
        width: 14rem;
    }
    .event-detail__img{
        margin-right: 3rem;
    }
    .participant__content-right-btns{
        margin-left: 6rem;
    }
    
}


@media screen and (max-width: 280px) {
    .upper-footer-col1-link{
        left: 10.8rem;
    }
}


@media screen and (max-width: 310px) {
    .tickets__cards{
        width: 16rem;
    }
    .ticket__btn{
        width: 12rem;
    }
    .card__desc{
        font-size: 13px;
    }
    .ticket__btn{
        width: 10rem;
    }
    .tickets__card{
        margin-left: 1rem;
    }

    .event-detail__text{
        font-size: 1rem;
    }

    .sub-footer__text{
        font-size: 0.8rem;
    }

    .upper-footer-col1-link{
        left: 11rem;
    }

}
@media screen and (max-width: 280px) {
    .join-tech__wrapper-left-img{
        width: 10rem;
    }
    .join-tech__wrapper-left-img{
        width: 10rem;
    }
    .tickets__cards{
        margin-left: 4rem;
        margin-right: 4rem;
    }

}